@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@font-face {
  font-family: 'cybertronregular';
  src: url('cybertron-webfont.woff2') format('woff2'),
       url('cybertron-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.navbar-link-text-header {
  font-family: 'cybertronregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  color: #FAEC29;
}
.navbar-link-text {
  font-family: 'Quicksand';  
  color: #FAEC29;
}
.parallax {
    /* The image used */
    background: url(../imgs/FrontPagePicture.png);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.about{
  background: url(../imgs/aboutUsBackground.jpg);
  padding-top: 50px;
  margin-top: -50px;
}
.general-text{
  font-family: 'Quicksand';  
  color: #d3d3d3;
  margin: auto;
}
.general-text-onblack{
  font-family: 'Quicksand';  
  color: #ffffff  ;
  margin: auto;
}
.general-text-white {
  font-family: 'Quicksand';  
  color: white;
  margin: auto;
}
.aboutfirst{
  background: url(../imgs/aboutFirstBackground.jpg);
}
html,body{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.yellowEnd{
  background-color: #FAEC29;
}
.blackEnd{
  background-color: #1d1c1c;
}
.history{
  background: url(../imgs/history.png);
}
.scouting{
  background: url(../imgs/scouting.png);
}
.contact{
  background: url(../imgs/contact.jpg);
}
.sponsors{
  background: url(../imgs/history.png);
}
.carousel-controls{
  position: absolute;
  width:300px;
  height: 9%;
  margin:0 auto;
}
.historyCarousel{
  padding-top: 80px;
  margin-top: -80px;
}