.navbar-link-text {
    color: #CCCC00;
}
.about{
  background: url(../imgs/aboutUsBackground.jpg);
  padding-top: 60px;
  margin-top: -60px;
}
.general-text{
  color: #d3d3d3;
  margin: auto;
}
.general-text-onblack{
  color: #ffffff  ;
  margin: auto;
}
.general-text-white {
  color: #fefefe  ;
  margin: auto;
}
.aboutfirst{
  background: url(../imgs/aboutFirstBackground.jpg);
}
html,body{
  overflow-x: hidden;
  overflow-y: auto;
}
.yellowEnd{
  background-color: #9e9e2a;
}
.blackEnd{
  background-color: #1d1c1c;
}
.test{
  display: inline-block;
}
.history{
  background: url(../imgs/history.jpg);
}
.scouting{
  background: url(../imgs/contact.png);
}
.carousel-controls{
  position: absolute;
  width:300px;
  height: 9%;
  margin:0 auto;
}
.historyCarousel{
  padding-top: 80px;
  margin-top: -80px;
}
.test {
  background-color: white;
}
